body {
  max-width: 800px;
  margin: auto;
  color: #333;
}

header {
  text-align: center;
  padding: 10px;
}

h3 {
  color: #333
}

table {
  margin: auto
}

.new-standup {
  border: 3px solid #333;
  width: 300px;
  text-align: center;

  textarea {
    height: 80px;
  }
}

input#csrf {
  display: none;
}